{% extends 'InventoryProjectApp/baseview.html' %}
{% block content %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">test</a>
              <small class="text-muted">test</small>
            </div>
            <h2><a class="article-title" href="#">title</a></h2>
            <p class="article-content">bdfgdfgmdfngm gbdgjsdgjkdfgjd</p>
          </div>
        </article>

{% endblock content %}